<div class="hero is-black asa">
    <div class"container">
        <nav class="level">
            <div class="level-left">
                <div class="level-item"><p><i class="fas fa-phone"></i> (518) 486-8580</p></div>
                <div class="level-item"><p><i class="fas fa-map-marker-alt"></i> 785 Delaware Ave. Delmar, NY 12054</p></div>
            </div>
            <div class="level-right">
                <div class="level-item"><p><i class="fas fa-gift"></i> Free Consultation</p></div>
            </div>
        </nav>
    </div>
</div>