<div class="hero is-black asa">
    <div class="level">
        <div class="level-left">
            <div class="level-item">
                <img src="logoInvert.png" class="asa">
            </div>
        </div>
        <div class="level-center">
            <div class="level-item">
                <div class="level is-mobile">
                    <div class="level-item">
                        <i class="fab fa-facebook"></i>
                    </div>
                    <div class="level-item">
                        <i class="fab fa-facebook"></i>
                    </div>
                    <div class="level-item">
                        <i class="fab fa-facebook"></i>
                    </div>
                    <div class="level-item">
                        <i class="fab fa-facebook"></i>
                    </div>
                </div>
            </div>
            <div class="level-item">
                <p>&copy; 2018 Upstate Physician Services, PC</p>
            </div>
            <div class="level-item">
                <p><p><a href="http://www.google.com">Terms of Use</a> | 
                        <a href="http://www.google.com">Privacy Policy</a> | 
                        <a href="http://www.google.com">HIPPA</a> | 
                        <a href="http://www.google.com">Sitemap</a></p></p>
            </div>
        </div>
        <div class="level-right">
            <div class="level-item">
                <div class="is-size-7 has-text-right">
                    <p>info@therevivedifference.com</p>
                    <p class="is-size-6"><strong>Delmar</strong></p>
                    <p>(518) 486-8580</p>
                    <p>785 Delaware Ave. Delmar, NY 12054</p>
                    <p class="is-size-6"><strong>New Hartford</strong></p>
                    <p>(315) 520-7100</p>
                    <p>84 Genesee St. New Hartford,  NY 13413</p>
                </div>
            </div>
        </div>
    </div>
</div>


<!--
<div class="hero is-black asa">
    <div class"container">
        <div class="columns">
            <div class="column">
                <div class="has-text-left"><img src="logoInvert.png"></div>
            </div>
            <div class="column" style="min-width:350px;">
                <div class="level-item">
                    <div class="columns is-mobile">
                        <div class="column">
                            <i class="fab fa-facebook"></i>
                        </div>
                        <div class="column">
                            <i class="fab fa-instagram"></i>
                        </div>
                        <div class="column">
                            <i class="fab fa-twitter"></i>
                        </div>
                        <div class="column">
                            <i class="fab fa-youtube"></i>
                        </div>
                    </div>
                </div>
                <div class="level-item">
                    <p>&copy; 2018 Upstate Physician Services, PC</p>
                </div>
                <div class="level-item">
                    <div>
                        <p><a href="http://www.google.com">Terms of Use</a> | 
                        <a href="http://www.google.com">Privacy Policy</a> | 
                        <a href="http://www.google.com">HIPPA</a> | 
                        <a href="http://www.google.com">Sitemap</a></p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="is-size-7 has-text-right">
                    <p>info@therevivedifference.com</p>
                    <p class="is-size-6"><strong>Delmar</strong></p>
                    <p>(518) 486-8580</p>
                    <p>785 Delaware Ave. Delmar, NY 12054</p>
                    <p class="is-size-6"><strong>New Hartford</strong></p>
                    <p>(315) 520-7100</p>
                    <p>84 Genesee St. New Hartford,  NY 13413</p>
                </div>
            </div>
        </div>
    </div>
</div>
-->